/*html {height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;}*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #000000;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 4;
	scrollbar-face-color: #E0CFB4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #9C7D5F;
	scrollbar-3dlight-color: #E0CFB4;
	scrollbar-arrow-color: #812600;
	scrollbar-track-color: #F0E5D4;
	scrollbar-darkshadow-color: #603D23;
	background-image: url(../main/bodyfon.png);
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.tmain {
	height: 100%;
	width: 100%;
}

.nmenu,.tmenu {
	background-image: url(../main/tmenufon.png);
	font-weight: bold;
	color: white;
}

.tmenu {
	width: 100%;
}

td {
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
}

a.tm,a.tm:link,a.tm:active,a.tm:visited {
	color: #FFFEFE;
	font-weight: bold;
	text-decoration: none;
}

a.tm_a,a.tm_a:link,a.tm_a:active,a.tm_a:visited,a.tm_a:hover,a.tm:hover
	{
	color: #FFF3A2;
	font-weight: bold;
	text-decoration: none;
}

a.smenu,a.smenu:link,a.smenu:active,a.smenu:visited {
	color: #B00505;
	font-weight: bold;
	text-decoration: none;
}

a.smenu:hover {
	color: #BC5959;
	font-weight: bold;
	text-decoration: none;
}

.tc_dbl,a.il,a.il:link,a.il:active,a.il:visited {
	font-size: 11px;
	color: #E03504;
	font-weight: bold;
	text-decoration: none;
}

a.il:hover {
	color: #BC5959;
	font-weight: bold;
	text-decoration: none;
}

a.fm,a.fm:link,a.fm:active,a.fm:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.fm:hover {
	color: #FFF3A2;
	text-decoration: none;
}

.tm_p {
	padding-top: 2px;
}

.tm_f {
	padding-top: 6px;
}

.ltable {
	background-color: #FBF7EC;
	width: 100%;
	height: 100%
}

.rkfon {
	background-color: #8A673F;
	width: 2px;
	height: 100%
}

.lpfon {
	background-image: url(../main/lpfon.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%
}

.dpfon {
	background-image: url(../main/dpfon.gif);
	background-repeat: repeat-x;
	width: 100%;
}

.bfon {
	background-image: url(../main/bfon.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	background-position: bottom;
}

.textblock {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.submenufon {
	background-image: url(../main/smenufon.gif);
	width: 100%;
	height: 100%
}

.submenufon_t {
	background-image: url(../main/smenufon.gif);
	height: 100%;
	paddin-left: 5px;
	padding-rigth: 5px;
}

.smf {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 12px;
	background-image: url(img/smf.gif);
	color: #A90303;
	padding-left: 4px;
	padding-right: 4px;
}

select,option {
	background-color: #F2E7D4;
	color: #3B2708;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.hline {
	background-color: #8C5E1B;
	height: 1px;
}

.hitem {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 12px;
	color: #A90303;
	padding-left: 5px;
	padding-right: 5px;
}

.bhitem {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 14px;
	color: #A90303;
	padding-left: 5px;
	padding-right: 5px;
}

.hblock {
	background-color: #F0E8D3
}

.htext {
	color: #A90303;
}

.btnf {
	background-image: url(../main/btnf.png);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}

.fsm {
	background-image: url(../main/fsm.png);
	width: 100%;
}

.tph {
	background-image: url(../main/tphfon.png);
	background-repeat: repeat-x;
	height: 100%
}

.tpfn {
	background-image: url(../main/lbnmf.png);
}

.tpfnr {
	background-image: url(../main/mnf.png);
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 3px;
}

.skill {
	font-family: Arial, Helvetica, sans-serif;
	color: #EDE2BE;
	font-size: 11px;
	font-weight: bold;
}

.avtf {
	background-image: url(../main/blr.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 9px;
}

.dlfl {
	background-image: url(../main/lr.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 100%;
	height: 100%
}

/*.dlfr {background-image : url(../main/rr.gif); background-repeat : no-repeat;  background-position: right top; width:100%; height:100%; padding-left:19px; padding-top:1px;}*/
.dlfr {
	width: 100%;
	height: 100%;
	padding-left: 19px;
	padding-top: 1px;
}

.stbox {
	background-color: #E0D8C5;
	width: 180px;
}

.fntc {
	color: #734803;
	font-size: 11px;
	font-weight: bold;
	padding-left: 4px;
}

.intf {
	color: #bbac87;
	padding-left: 4px;
	padding-right: 4px;
}

.minf {
	color: #066f03;
	font-size: 11px;
	font-weight: bold;
}

.hinf {
	color: #064688;
	font-size: 11px;
	font-weight: bold;
}

.linf {
	color: #515159;
	font-size: 11px;
	font-weight: bold;
}

.g_line {
	background-image: url(../main/g_line.gif);
	height: 10px;
}

.b_line {
	background-image: url(../main/b_line.gif);
	height: 10px;
}

.h_line {
	background-image: url(../main/h_line.gif);
	height: 10px;
}

.bdg {
	border: 1px solid #8C8470;
}

.sblock {
	border-top: 1px solid #8C5E1B;
	border-bottom: 1px solid #8C5E1B;
	border-left: 1px solid #8C5E1B;
	border-right: 1px solid #8C5E1B;
}

.inffon {
	background-image: url(../main/inffon.png);
	background-repeat: repeat-x;
	height: 100%;
	width: 100%
}

.binffon {
	background-image: url(../main/binffon.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 100%;
	width: 100%
}

.bgl {
	background-image: url(../main/bgl.gif);
	background-repeat: repeat-x;
	width: 100%
}

.dbgl {
	background-image: url(../main/dbgl.gif);
	background-repeat: repeat-x;
	width: 100%
}

.brfon {
	background-color: #A5773C;
	height: 2px;
}

.cbrfon {
	background-color: #FDFCF9;
	height: 100%;
}

.tc_r {
	color: #9D0708;
	font-size: 11px;
	font-weight: bold;
}

.tc_b {
	color: #DC7F28;
	font-size: 11px;
	font-weight: bold;
}

.tc_bl {
	color: #734803;
	font-size: 11px;
	font-weight: bold;
}

.dgfon {
	background-image: url(../main/dgfon.gif);
	height: 12px;
	width: 100%
}

.spell_but {
	width: 235px;
}

.spell_tbl {
	width: 235px;
	height: 42px;
	background-image: url(img/spell_but.jpg);
}

.tint,.int {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
	border: 0px solid transparent;
	cursor: hand;
	cursor: pointer;
}

.dstint,.stint {
	font-weight: normal;
	font-size: 10px;
	background-color: transparent;
	border: 0px solid transparent;
	cursor: hand;
	cursor: pointer;
}

.stint {
	color: #ffffff;
}

.dstint {
	color: #e3acac;
}

.tint {
	color: #8c5e1b;
	cursor: text;
}

.btn_f {
	background-image: url(../main/btn_f.gif);
}

.in_f {
	background-image: url(../main/in_f.gif);
}

.h_popup {
	font-weight: bold;
	color: #FFFFFF;
}

.main_t {
	background-color: #f0e8d3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #c0a46a;
	border-bottom: 1px solid #c0a46a;
	border-left: 1px solid #c0a46a;
	border-right: 1px solid #c0a46a;
}

.htboxl,.shop_box {
	background-color: #EAE2CD;
}

.htboxl {
	width: 100%;
}

.p_t_b {
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%
}

.l_z_f {
	background-image: url(../main/l_z_f.png);
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	color: #3B2708;
	padding-left: 10px;
	padding-right: 10px;
}

.m_f_l {
	background-image: url(../main/m_f_l.gif);
	width: 12px;
	height: 100%
}

.m_f_r {
	background-image: url(../main/m_f_r.gif);
	width: 12px;
	height: 100%
}

.m_f_d {
	background-image: url(../main/m_f_d.gif);
	width: 100%
}

.m_f_t {
	background-image: url(../main/m_f_t.gif);
	width: 100%
}

.k_text {
	color: #8E5F1B;
	font-weight: bold
}

.com_t {
	font-size: 10px;
	color: #BC5959;
	font-family: arial;
}

.mrgnb {
	margin-bottom: -2px;
}

.p_shop {
	height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}

hr {
	width: 100%;
	color: #A08359;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	border-bottom-style: none
}

html body hr {
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	background-color: #A08359;
	border-bottom-style: none
}

html body hr {
	border-right: #A08359 0px solid;
	border-top: #A08359 0px solid;
	border-left: #A08359 0px solid;
	width: 100%;
	border-bottom: #A08359 0px solid;
	height: 1px;
	background-color: #A08359
}

.bt_line {
	border-bottom: 1px solid #A08359
}

.h_fon {
	background-image: url(../main/h_fon.jpg);
}

.menu {
	BORDER-RIGHT: 1px outset;
	BORDER-TOP: 1px outset;
	LEFT: 0px;
	VISIBILITY: hidden;
	BORDER-LEFT: 1px outset;
	BORDER-BOTTOM: 1px outset;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #eeeeee
}

.menuItem {
	border: 0px solid #000000;
	color: #2E5289;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

A.menuItem {
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	PADDING-BOTTOM: 2px;
	COLOR: #000000;
	PADDING-TOP: 2px;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

A.menuItem:hover {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #3a82f4
}

.tzOver {
	border: 0px solid #000000;
	background-color: #a2a2a2;
	color: #FF4400;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

.hint {
	border: solid #000000 1px;
	padding: 3px;
	font-family: Verdana;
	background-color: #CCCBA2;
	color: #000000;
}

#hint1 {
	position: absolute;
	visibility: hidden
}

.tooltip {
	position: absolute;
	display: none;
	visibility: visible;
	top: 0px;
	left: 0px;
	z-index: 101;
}

img,table {
	border: 0
}

.blend_tooltip {
	_filter: alpha(opacity = 0); /* IE */
	-moz-opacity: 0; /* mozilla */
	-khtml-opacity: 0; /* KHTML Engine(Konquerror) */
	opacity: 0;
}

.tooltip_simple {
	border: #000000 1px solid;
	background-color: #FCFCD3;
	color: black;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}

.B1 {
	FONT-WEIGHT: bold;
	COLOR: #6666cc
}

.B2 {
	FONT-WEIGHT: bold;
	COLOR: #b06a00
}

.standbut {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

A:link,A:visited,A:active {
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	COLOR: black;
	TEXT-DECORATION: none;
}

A:hover {
	FONT-SIZE: 8pt;
	COLOR: #FF4400;
}

.small {
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

a.small,a.small:visited,a.small:active,a.small:hover {
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

.input {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

/*html {height:100%; max-height:100%; overflow:hidden; padding:0; margin:0; border:0;}*/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFE6D1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 4;
	scrollbar-face-color: #E0CFB4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #9C7D5F;
	scrollbar-3dlight-color: #E0CFB4;
	scrollbar-arrow-color: #812600;
	scrollbar-track-color: #F0E5D4;
	scrollbar-darkshadow-color: #603D23;
	background-image: url(../main/bodyfon.png);
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.tmain {
	height: 100%;
	width: 100%;
}

.nmenu,.tmenu {
	background-image: url(../main/tmenufon.png);
	font-weight: bold;
	color: white;
}

.tmenu {
	width: 100%;
}

td {
	FONT-SIZE: 11px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
}

a.tm,a.tm:link,a.tm:active,a.tm:visited {
	color: #FFFEFE;
	font-weight: bold;
	text-decoration: none;
}

a.tm_a,a.tm_a:link,a.tm_a:active,a.tm_a:visited,a.tm_a:hover,a.tm:hover
	{
	color: #FFF3A2;
	font-weight: bold;
	text-decoration: none;
}

a.smenu,a.smenu:link,a.smenu:active,a.smenu:visited {
	color: #B00505;
	font-weight: bold;
	text-decoration: none;
}

a.smenu:hover {
	color: #BC5959;
	font-weight: bold;
	text-decoration: none;
}

.tc_dbl,a.il,a.il:link,a.il:active,a.il:visited {
	font-size: 11px;
	color: #E03504;
	font-weight: bold;
	text-decoration: none;
}

a.il:hover {
	color: #BC5959;
	font-weight: bold;
	text-decoration: none;
}

a.fm,a.fm:link,a.fm:active,a.fm:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.fm:hover {
	color: #FFF3A2;
	text-decoration: none;
}

.tm_p {
	padding-top: 2px;
}

.tm_f {
	padding-top: 6px;
}

.ltable {
	background-color: #FBF7EC;
	width: 100%;
	height: 100%
}

.rkfon {
	background-color: #8A673F;
	width: 2px;
	height: 100%
}

.lpfon {
	background-image: url(../main/lpfon.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%
}

.dpfon {
	background-image: url(../main/dpfon.gif);
	background-repeat: repeat-x;
	width: 100%;
}

.bfon {
	background-image: url(../main/bfon.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
	background-position: bottom;
}

.textblock {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.submenufon {
	background-image: url(../main/smenufon.gif);
	width: 100%;
	height: 100%
}

.submenufon_t {
	background-image: url(../main/smenufon.gif);
	height: 100%;
	paddin-left: 5px;
	padding-rigth: 5px;
}

.smf {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 12px;
	background-image: url(img/smf.gif);
	color: #A90303;
	padding-left: 4px;
	padding-right: 4px;
}

select,option {
	background-color: #F2E7D4;
	color: #3B2708;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.hline {
	background-color: #8C5E1B;
	height: 1px;
}

.hitem {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 12px;
	color: #A90303;
	padding-left: 5px;
	padding-right: 5px;
}

.bhitem {
	font-family: Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 14px;
	color: #A90303;
	padding-left: 5px;
	padding-right: 5px;
}

.hblock {
	background-color: #F0E8D3
}

.htext {
	color: #A90303;
}

.btnf {
	background-image: url(../main/btnf.png);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}

.fsm {
	background-image: url(../main/fsm.png);
	width: 100%;
}

.tph {
	background-image: url(../main/tphfon.png);
	background-repeat: repeat-x;
	height: 100%
}

.tpfn {
	background-image: url(../main/lbnmf.png);
}

.tpfnr {
	background-image: url(../main/mnf.png);
	width: 100%;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
	padding-top: 3px;
}

.skill {
	font-family: Arial, Helvetica, sans-serif;
	color: #EDE2BE;
	font-size: 11px;
	font-weight: bold;
}

.avtf {
	background-image: url(../main/blr.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-bottom: 9px;
}

.dlfl {
	background-image: url(../main/lr.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width: 100%;
	height: 100%
}

/*.dlfr {background-image : url(../main/rr.gif); background-repeat : no-repeat;  background-position: right top; width:100%; height:100%; padding-left:19px; padding-top:1px;}*/
.dlfr {
	width: 100%;
	height: 100%;
	padding-left: 19px;
	padding-top: 1px;
}

.stbox {
	background-color: #E0D8C5;
	width: 180px;
}

.fntc {
	color: #734803;
	font-size: 11px;
	font-weight: bold;
	padding-left: 4px;
}

.intf {
	color: #bbac87;
	padding-left: 4px;
	padding-right: 4px;
}

.minf {
	color: #066f03;
	font-size: 11px;
	font-weight: bold;
}

.hinf {
	color: #064688;
	font-size: 11px;
	font-weight: bold;
}

.linf {
	color: #515159;
	font-size: 11px;
	font-weight: bold;
}

.g_line {
	background-image: url(../main/g_line.gif);
	height: 10px;
}

.b_line {
	background-image: url(../main/b_line.gif);
	height: 10px;
}

.h_line {
	background-image: url(../main/h_line.gif);
	height: 10px;
}

.bdg {
	border: 1px solid #8C8470;
}

.sblock {
	border-top: 1px solid #8C5E1B;
	border-bottom: 1px solid #8C5E1B;
	border-left: 1px solid #8C5E1B;
	border-right: 1px solid #8C5E1B;
}

.inffon {
	background-image: url(../main/inffon.png);
	background-repeat: repeat-x;
	height: 100%;
	width: 100%
}

.binffon {
	background-image: url(../main/binffon.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	height: 100%;
	width: 100%
}

.bgl {
	background-image: url(../main/bgl.gif);
	background-repeat: repeat-x;
	width: 100%
}

.dbgl {
	background-image: url(../main/dbgl.gif);
	background-repeat: repeat-x;
	width: 100%
}

.brfon {
	background-color: #A5773C;
	height: 2px;
}

.cbrfon {
	background-color: #FDFCF9;
	height: 100%;
}

.tc_r {
	color: #9D0708;
	font-size: 11px;
	font-weight: bold;
}

.tc_b {
	color: #DC7F28;
	font-size: 11px;
	font-weight: bold;
}

.tc_bl {
	color: #734803;
	font-size: 11px;
	font-weight: bold;
}

.dgfon {
	background-image: url(../main/dgfon.gif);
	height: 12px;
	width: 100%
}

.spell_but {
	width: 235px;
}

.spell_tbl {
	width: 235px;
	height: 42px;
	background-image: url(img/spell_but.jpg);
}

.tint,.int {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	background-color: transparent;
	border: 0px solid transparent;
	cursor: hand;
	cursor: pointer;
}

.dstint,.stint {
	font-weight: normal;
	font-size: 10px;
	background-color: transparent;
	border: 0px solid transparent;
	cursor: hand;
	cursor: pointer;
}

.stint {
	color: #ffffff;
}

.dstint {
	color: #e3acac;
}

.tint {
	color: #8c5e1b;
	cursor: text;
}

.btn_f {
	background-image: url(../main/btn_f.gif);
}

.in_f {
	background-image: url(../main/in_f.gif);
}

.h_popup {
	font-weight: bold;
	color: #FFFFFF;
}

.main_t {
	background-color: #f0e8d3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #c0a46a;
	border-bottom: 1px solid #c0a46a;
	border-left: 1px solid #c0a46a;
	border-right: 1px solid #c0a46a;
}

.htboxl,.shop_box {
	background-color: #EAE2CD;
}

.htboxl {
	width: 100%;
}

.p_t_b {
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%
}

.l_z_f {
	background-image: url(../main/l_z_f.png);
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	color: #3B2708;
	padding-left: 10px;
	padding-right: 10px;
}

.m_f_l {
	background-image: url(../main/m_f_l.gif);
	width: 12px;
	height: 100%
}

.m_f_r {
	background-image: url(../main/m_f_r.gif);
	width: 12px;
	height: 100%
}

.m_f_d {
	background-image: url(../main/m_f_d.gif);
	width: 100%
}

.m_f_t {
	background-image: url(../main/m_f_t.gif);
	width: 100%
}

.k_text {
	color: #8E5F1B;
	font-weight: bold
}

.com_t {
	font-size: 10px;
	color: #BC5959;
	font-family: arial;
}

.mrgnb {
	margin-bottom: -2px;
}

.p_shop {
	height: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
}

hr {
	width: 100%;
	color: #A08359;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	border-bottom-style: none
}

html body hr {
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: 1px;
	background-color: #A08359;
	border-bottom-style: none
}

html body hr {
	border-right: #A08359 0px solid;
	border-top: #A08359 0px solid;
	border-left: #A08359 0px solid;
	width: 100%;
	border-bottom: #A08359 0px solid;
	height: 1px;
	background-color: #A08359
}

.bt_line {
	border-bottom: 1px solid #A08359
}

.h_fon {
	background-image: url(../main/h_fon.jpg);
}

.button {
	font: bold 12px arial, helvetica, sans-serif;
	background-color: #7F6030;
	color: #ffffff
}

.menu {
	BORDER-RIGHT: 1px outset;
	BORDER-TOP: 1px outset;
	LEFT: 0px;
	VISIBILITY: hidden;
	BORDER-LEFT: 1px outset;
	BORDER-BOTTOM: 1px outset;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #eeeeee
}

.menuItem {
	border: 0px solid #000000;
	color: #2E5289;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

A.menuItem {
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	PADDING-BOTTOM: 2px;
	COLOR: #000000;
	PADDING-TOP: 2px;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

A.menuItem:hover {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #3a82f4
}

.tzOver {
	border: 0px solid #000000;
	background-color: #a2a2a2;
	color: #FF4400;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

.hint {
	border: solid #000000 1px;
	padding: 3px;
	font-family: Verdana;
	background-color: #CCCBA2;
	color: #000000;
}

#hint1 {
	position: absolute;
	visibility: hidden
}

.tooltip {
	position: absolute;
	display: none;
	visibility: visible;
	top: 0px;
	left: 0px;
	z-index: 101;
}

img,table {
	border: 0
}

.blend_tooltip {
	_filter: alpha(opacity = 0); /* IE */
	-moz-opacity: 0; /* mozilla */
	-khtml-opacity: 0; /* KHTML Engine(Konquerror) */
	opacity: 0;
}

.tooltip_simple {
	border: #000000 1px solid;
	background-color: #FCFCD3;
	color: black;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}

.B1 {
	FONT-WEIGHT: bold;
	COLOR: #6666cc
}

.B2 {
	FONT-WEIGHT: bold;
	COLOR: #b06a00
}

.standbut {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

A:link,A:visited,A:active {
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
	COLOR: black;
	TEXT-DECORATION: none;
}

A:hover {
	FONT-SIZE: 8pt;
	COLOR: #FF4400;
}

.small {
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

a.small,a.small:visited,a.small:active,a.small:hover {
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

.input {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

.empty {
	font-size: 3px;
}

/*   links   */
A.top {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: maroon;
}

A.top:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: maroon;
}

A.top:active {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: maroon;
}

A.top:hover {
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: maroon;
}

A.chat {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}

A.chat:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: blue
}

A.chat:active {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: blue
}

A.chat:hover {
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: blue
}

A.whochat {
	text-decoration: none;
	font-family: Arial, Verdana, Helvetica;
	font-size: 13px;
	font-weight: bold;
}

A.whochat:visited {
	text-decoration: none;
	font-family: Arial, Verdana, Helvetica;
	font-size: 13px;
	color: blue;
	font-weight: bold;
}

A.whochat:active {
	text-decoration: none;
	font-family: Arial, Verdana, Helvetica;
	font-size: 13px;
	color: blue;
	font-weight: bold;
}

A.whochat:hover {
	text-decoration: underline;
	font-family: Arial, Verdana, Helvetica;
	font-size: 13px;
	color: blue;
	font-weight: bold;
}

.chat_time {
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: red;
}

/*   font-size   */
.fs_3 {
	font-size: 3px;
}

.fs_5 {
	font-size: 5px;
}

.fs_8 {
	font-size: 8px;
}

.fs_9 {
	font-size: 9px;
}

.fs_10 {
	font-size: 10px;
}

.fs_11 {
	font-size: 11px;
}

.fs_12 {
	font-size: 12px;
}

.fs_13 {
	font-size: 13px;
}

.fs_14 {
	font-size: 14px;
}

.fs_15 {
	font-size: 15px;
}

.fs_20 {
	font-size: 20px;
}

.fs_25 {
	font-size: 25px;
}

/*   font-weight   */
.fw_n {
	font-weight: normal;
}

.fw_b {
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
}

.fw_bns {
	font-size: 10px
}

.fw_bag {
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
}

/*   padding   */
.p_5 {
	padding: 5px 5px 5px 5px;
}

.pt_2 {
	padding-top: 2px;
}

.pt_4 {
	padding-top: 4px;
}

.pt_5 {
	padding-top: 5px;
}

.pt_10 {
	padding-top: 10px;
}

.pb_2 {
	padding-bottom: 2px;
}

.pb_5 {
	padding-bottom: 5px;
}

.pb_7 {
	padding-bottom: 7px;
}

.pb_8 {
	padding-bottom: 8px;
}

.pb_9 {
	padding-bottom: 9px;
}

.pb_10 {
	padding-bottom: 10px;
}

.pb_11 {
	padding-bottom: 11px;
}

.pl_5 {
	padding-left: 5px;
}

.pl_10 {
	padding-left: 10px;
}

.pl_15 {
	padding-left: 15px;
}

.pl_30 {
	padding-left: 30px;
}

.pr_5 {
	padding-right: 5px;
}

.pr_10 {
	padding-right: 10px;
}

.pr_15 {
	padding-right: 15px;
}

/*   align horizontal   */
.ha_l {
	text-align: left;
}

.ha_r {
	text-align: right;
}

.ha_c {
	text-align: center;
}

.ha_j {
	text-align: justify;
}

/*   align vertical   */
.va_t {
	vertical-align: top;
}

.va_m {
	vertical-align: middle;
}

.va_b {
	vertical-align: bottom;
}

/*   colors   */
.tc_b {
	color: black;
}  /* black */
.tc_bl {
	color: #9C0000;
}

.tc_dbl {
	color: #FF6931;
}

.tc_br {
	color: brown;
}  /* brown */
.tc_c {
	color: coral;
}  /* coral */
.tc_m {
	color: maroon;
}  /* maroon */
.tc_w {
	color: white;
}  /* white */
.tc_r {
	color: red;
}  /* red */
.tc_ww {
	color: #003894;
}  /* #003894 */
.bgc_w {
	background-color: white;
}  /* white */ /* Добавлено СТорком */
A.wholink {
	font-size: 10px;
	text-decoration: none;
}

A.wholink:visited {
	text-decoration: none;
	color: blue
}

A.wholink:active {
	text-decoration: none;
	color: blue
}

A.wholink:hover {
	text-decoration: underline;
	color: blue
}

A.main_link {
	font-size: 12px;
	text-decoration: none;
}

A.main_link:visited {
	text-decoration: none;
	color: blue
}

A.main_link:active {
	text-decoration: none;
	color: blue
}

A.main_link:hover {
	text-decoration: underline;
	color: blue
}

A.main_link_nu {
	font-size: 12px;
	text-decoration: none;
}

A.main_link_nu:visited {
	text-decoration: none;
	color: blue
}

A.main_link_nu:active {
	text-decoration: none;
	color: blue
}

A.main_link_nu:hover {
	text-decoration: none;
	color: blue
}

.skin0 {
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
	width: 55px;
	border: 1px ridge silver;
	background-color: menu;
	font-family: Verdana; //
	line-height: 15px;
	cursor: hand;
	visibility: hidden;
}

.menuitems {
	width: 55px;
	color: navy;
	padding-left: 5px;
	padding-right: 5px;
}

.char_info_top {
	background: #C6AE6B;
	color: #6B3031;
}

.char_info_top_hover {
	background: #6B3031;
	color: white;
}

A.char_info_top_link {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #6B3031;
}

A.char_info_top_link:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #6B3031;
}

A.char_info_top_link:active {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #6B3031;
}

A.char_info_top_link:hover {
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #6B3031;
}

A.char_info_top_link_select {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
}

A.char_info_top_link_select:visited {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
}

A.char_info_top_link_select:active {
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
}

A.char_info_top_link_select:hover {
	text-decoration: underline;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: white;
}

INPUT.bottom_form {
	border: #000000 1px solid;
}

INPUT.main_button {
	border: #633008 1px solid;
	color: #6B3831;
}

INPUT.main_text {
	background-color: #f0e8d3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #c0a46a;
	border-bottom: 1px solid #c0a46a;
	border-left: 1px solid #c0a46a;
	border-right: 1px solid #c0a46a;
}

INPUT.main_check {
	background: ;
	color: #6B3831
}

TEXTAREA.main_text {
	background: #FFDFBD;
	border: #633008 1px solid;
	color: #6B3831
}

INPUT.wields_button {
	background: #FFDFBD;
	border: #633008 1px solid;
	color: #6B3831;
	font-size: 9 px;
	padding: 0px;
}

INPUT.shop_button {
	background: #FFDFBD;
	border: #633008 1px solid;
	color: #6B3831;
	font-size: 9px
}

TD.char_info_td_text {
	color: #733000;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}

.table_shop_item {
	border: #6B3808 1px solid;
}

.button_shop {
	width: 95;
	background: #FFBE9C;
	text-align: center;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.bag_cat {
	background: #C6AE6B;
	text-align: center;
	color: brown;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.button_workshop {
	background: #777777;
	text-align: center;
	color: white;
	cursor: hand;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

.bag_top_menu {
	background: #FFDFC6;
	text-align: center;
	color: #6B3031;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.button_shop_gold {
	width: 150;
	background: #FFBE9C;
	text-align: center;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.shop_item_name {
	font-size: 12px;
	color: #633800;
	font-weight: bold;
	font-family: arial;
}

.shop_table_header {
	background: #FFDFBD;
	text-align: center;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}

.shop_item_comment {
	font-size: 10px;
	color: green;
	font-family: arial;
}

.table_bag_item {
	border: #6B3808 1px solid;
}

.bag_button {
	width: 16%;
	padding-left: 5px;
	padding-right: 5px;
	background: #FFBE9C;
	text-align: center;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.fight_table_header {
	background: #CEAE6B;
	text-align: center;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.fight_table_header_disable {
	background: silver;
	text-align: center;
	color: #736D74;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}

.fight_table_header_hover {
	background: #6B3808;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	cursor: hand;
}

.fight_select {
	border: #6B3808 1px solid;
	background: #FFBE9C;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
}

.fight_input {
	border: #6B3808 1px solid;
	background: white;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	width: 20px;
}

.fight_radio {
	border: 0px;
	background: ;
	color: #6B3808;
	font-weight: bold;
	font-family: arial;
}

.timer {
	font-size: 12px;
	color: white;
	font-weight: bold;
	background: ;
}

/*   new_design   */
html {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	height: 100%;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
}

html #text,html #room,html #chat {
	overflow: auto;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #EFE6D1;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	scrollbar-face-color: #E0CFB4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #9C7D5F;
	scrollbar-3dlight-color: #E0CFB4;
	scrollbar-arrow-color: #812600;
	scrollbar-track-color: #F0E5D4;
	scrollbar-darkshadow-color: #603D23;
	overflow: auto;
}

.tmain {
	height: 100%;
	width: 100%;
}

.topfon {
	background-image: url(../frames/topfon.png);
	width: 100%;
	height: 65px;
	background-repeat: repeat-x;
}

.topfr {
	background-image: url(../frames/topfr.jpg);
	background-position: 0px 5px;
	background-repeat: repeat-x;
}

.fonr {
	background-image: url(../frames/lfon.jpg);
	background-repeat: no-repeat;
}

.fonl {
	background-image: url(../frames/lfon.jpg);
	background-repeat: no-repeat;
	background-position: top right;
}

.scfon {
	background-image: url(../frames/bodyfon.png);
}

.dfon {
	background-image: url(../frames/dfon.png);
	height: 34px;
}

.textframe {
	position: absolute;
	top: 88px;
	left: 36px;
	width: 700;
	height: 300;
	overflow: auto;
}

.hlfon {
	background-image: url(../frames/hlfon.jpg);
	width: 33px;
	height: 100%
}

.hrfon {
	background-image: url(../frames/hrfon.jpg);
	width: 33px;
	height: 100%
}

.linefon {
	background-image: url(../frames/linefon.gif);
	width: 100%;
	height: 17;
	z-index: 101;
}

.chatroom {
	background-image: url(/i/bg3.gif);
	width: 50%;
	height: 68px;
	position: absolute;
	top: 320px;
	left: 36px;
	z-index: 100;
	overflow: auto;
}

.visitroom {
	background-image: url(../frames/chatfon.gif);
	width: 286;
	height: 68px;
	position: absolute;
	top: 320px;
	left: 600px;
	z-index: 100;
	overflow: auto;
}

.in {
	background-image: url(../frames/in.png);
	width: 130px;
}

.timefon {
	font-family: Times New Roman, Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-image: url(../frames/timefon.png);
	width: 44px;
}

input.txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #734803;
	width: 130px;
	background-color: transparent;
	border-left: transparent 0px solid;
	border-right: transparent 0px solid;
	border-top: transparent 0px solid;
	border-bottom: transparent 0px solid;
}

.btnfon {
	background-image: url(../frames/btn.png);
	width: 46;
	height: 34;
}

.subbtn {
	background-image: url(../frames/btn.png);
	width: 46;
	height: 34;
	background-color: transparent;
	background-image: url(../frames/z.gif);
	width: 46;
	height: 34;
	border-left: transparent 0px solid;
	border-right: transparent 0px solid;
	border-top: transparent 0px solid;
	border-bottom: transparent 0px solid;
	cursor: hand;
	cursor: pointer;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	color: #3B2708;
	font-size: 11px;
}

.tm {
	padding-top: 2px;
}

.gerb {
	background-image: url(../frames/gerb.jpg);
	width: 284px;
	height: 65px;
	padding-left: 4px;
}

/* add by STork */
a.fm_n,a.fm_n:link,a.fm_n:active,a.fm_n:visited {
	color: #B5AEA5;
	text-decoration: none;
}

a.fm_n:hover {
	color: #B5AEA5;
	text-decoration: none;
}

.ch,a,a:link,a:active,a:visited {
	color: #9d0708;
	text-decoration: none;
}

a:hover {
	color: #d36b11;
	text-decoration: none;
}

.g_line {
	background-image: url(../frames/g_line.gif);
	height: 10px;
}

.r_line {
	background-image: url(../frames/r_line.gif);
	height: 10px;
}

.y_line {
	background-image: url(../frames/y_line.gif);
	height: 10px;
}

.menu {
	BORDER-RIGHT: 1px outset;
	BORDER-TOP: 1px outset;
	LEFT: 0px;
	VISIBILITY: hidden;
	BORDER-LEFT: 1px outset;
	BORDER-BOTTOM: 1px outset;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #eeeeee
}

.menuItem {
	border: 0px solid #000000;
	color: #2E5289;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

A.menuItem {
	PADDING-RIGHT: 12px;
	DISPLAY: block;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	PADDING-BOTTOM: 2px;
	COLOR: #000000;
	PADDING-TOP: 2px;
	FONT-FAMILY: Verdana;
	TEXT-DECORATION: none
}

A.menuItem:hover {
	COLOR: #ffffff;
	BACKGROUND-COLOR: #3a82f4
}

.tzOver {
	border: 0px solid #000000;
	background-color: #a2a2a2;
	color: #FF4400;
	display: block;
	font-family: MS Sans Serif, Arial, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	padding: 2px 12px 2px 8px;
	text-decoration: none;
	CURSOR: Hand;
}

.lbut {
	BACKGROUND: #e8ecd1;
	BORDER: #556149 1px solid;
	COLOR: #556149;
	CURSOR: hand;
	FONT: 11px Tahoma;
	FONT-WEIGHT: Bold;
	MARGIN-bottom: 5px;
	WIDTH: 120px;
}

body { /* color: #BDB557; */ /*color:#5F7384;*/ /*color: #B7C1C9;*/
	cursor: url(3dgarro.ani);
}

body,td,ol,ul,li,p {
	FONT-SIZE: 11px;;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	scrollbar-face-color: #E0CFB4;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #9C7D5F;
	scrollbar-3dlight-color: #E0CFB4;
	scrollbar-arrow-color: #812600;
	scrollbar-track-color: #F0E5D4;
	scrollbar-darkshadow-color: #603D23;
}

scrollbar-face-color
:
 
#E0CFB4
;
 
scrollbar-highlight-color
:
 
#FFFFFF
;
 
scrollbar-shadow-color
:
 
#9C7D5F
;
 
scrollbar-3dlight-color
:
 
#E0CFB4
;
 
scrollbar-arrow-color
:
 
#812600
;
 
scrollbar-track-color
:
 
#F0E5D4
;
 
scrollbar-darkshadow-color
:
#603D23
;


}
.text {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
}

H3 {
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	FONT-SIZE: 12pt;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center
}

H4 {
	FONT-SIZE: 10pt;
	COLOR: 926539;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center
}

A:link,A:visited,A:active {
	FONT-SIZE: 12px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	FONT-WEIGHT: bold;
	COLOR: #0046A6;
	TEXT-DECORATION: none;
}

A:hover {
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	FONT-SIZE: 12px;
	COLOR: green;
	TEXT-DECORATION: underline;
}

.title {
	COLOR: #993300;
	FONT-FAMILY: Tahoma, Verdana;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
}

.shop {
	COLOR: #315A94;
	FONT-SIZE: 11px;
	FONT-WEIGHT: Bold;
}

.date1 {
	font-family: Tahoma, Verdana;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #007000;
}

.date2 {
	font-family: Tahoma, Verdana;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	color: #007000;
	background-color: #00FFAA
}

.invisible {
	text-decoration: none;
	color: #8C8989;
	cursor: help;
}

.sysmessage {
	font-family: Tahoma, Verdana;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: #B00000
}

.sysmessage2 {
	font-family: Tahoma, Verdana;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: #007000
}

.bloked {
	font-weight: bold;
	color: red;
}

select,textarea {
	border: solid 1pt #B0B0B0;
	font-family: MS Sans Serif;
	font-size: 10px;
	color: #191970;
	MARGIN-BOTTOM: 2px;
	MARGIN-TOP: 1px;
}

/*.input	{ border: solid 1pt #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;} */
.input {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

button {
	color: #000000;
	font: 12px Tahoma, Verdana;
	font-weight: bold;
	text-decoration: none;
	background: #504f4c;
	border: 1 solid #AaF996;
	/* background: #FFFFFF;
 border: 1 solid #D3A414; */
}

.radbut {
	border: solid 0px #B0B0B0;
	font-family: Tahoma, Verdana;
	font-size: 11px;
	color: #191970;
	MARGIN-BOTTOM: 2px;
	MARGIN-TOP: 1px;
}

.standbut {
	color: #ffffff;
	font-size: 10px;
	FONT-FAMILY: Tahoma, Verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background: #9a9996;
	border: 1 solid #636363;
	background-image: url('buttons_bg.gif');
	background-position: right;
	background-repeat: repeat-x;
	height: 20px;
}

.search {
	color: #000000;
	font: 11px Tahoma;
	font-weight: none;
	text-decoration: none;
	background: #FFFFFF;
	border: 1 solid #090909;
}

/*.search		{ border: solid 2px #B0B0B0; font-family: MS Sans Serif; font-size: 10px; color: #191970; MARGIN-BOTTOM: 2px; MARGIN-TOP: 1px;} */
.inputpr {
	BORDER-RIGHT: #9ca2ad 1px solid;
	BORDER-TOP: #9ca2ad 1px solid;
	FONT-SIZE: 11px;
	BACKGROUND: #ffffff;
	BORDER-LEFT: #9ca2ad 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #9ca2ad 1px solid;
	FONT-FAMILY: Tahoma, Verdana;
	HEIGHT: 18px;
	size: 17
}

img,table {
	border: 0
}

.player {
	color: #0046D5;
	font-weight: bold;
	cursor: hand;
}

.private {
	COLOR: Red;
	font-weight: bold;
	cursor: hand;
}

.ch {
	color: #000000;
	font-weight: bold;
}

.hint {
	border: solid #000000 1px;
	padding: 3px;
	font-family: Verdana;
	background-color: #CCCBA2;
	color: #000000;
}

#hint1 {
	position: absolute;
	visibility: hidden
}

.to {
	CURSOR: Hand;
	COLOR: #2E5289;
	font-weight: bold;
}

td.itemhead { /*background-color: #060C0D;*/
	background-color: #deecdf;
	height: 16px;
	font-size: 11px;
	padding-left: 7px;
}

table.item { /*border: 1px solid #060C0D;*/
	border: 1px solid #ffffff;
}

table.upnv {
	border: 1px solid #a9a38d;
	height: 18px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #a9a38d;
}

.tooltip {
	position: absolute;
	display: none;
	visibility: visible;
	top: 0px;
	left: 0px;
	z-index: 101;
}

.blend_tooltip {
	_filter: alpha(opacity = 0); /* IE */
	-moz-opacity: 0; /* mozilla */
	-khtml-opacity: 0; /* KHTML Engine(Konquerror) */
	opacity: 0;
}

.tooltip_simple {
	border: #000000 1px solid;
	background-color: #FCFCD3;
	color: black;
	font-size: 12px;
	padding: 3px 3px 3px 3px;
}

.small {
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

a.small,a.small:visited,a.small:active,a.small:hover {
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

.B1 {
	FONT-WEIGHT: bold;
	COLOR: #6666cc
}

.B2 {
	FONT-WEIGHT: bold;
	COLOR: #b06a00
}